#MainPanel{
    display: grid;
    height: calc(var(--MainHeight) * 1px) ;
    width: calc(var(--MainWidth) * 1px) ;
    grid-template-rows: repeat(var(--CellRowCount), calc(var(--CellLength) * 1px));
    grid-template-columns: repeat(var(--CellColumnCount),calc(var(--CellLength) * 1px));
    border: 2px solid black;
    border-radius: 4px;
}
#ColorPicker{
    display: grid;
    height: 70px;
    padding: 10px;
    grid-template-columns: repeat(8,70px);
    gap: 2px;
    border: 1px solid black;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
}

.Cell{
    background-color: white;
}
.Cell:hover{
    border: 1px solid black;
}
.ColorCell{
    border-radius: 4px;
}
.ColorCell:hover{
    border: 1px solid black;
    border-radius: 4px;

}
