@import url('pixel.css');

:root{
    --MainHeight: 2000;
    --MainWidth: 2000;
    --CellLength: 20; 
    --CellRowCount:calc(var(--MainHeight) / var(--CellLength)); /*Sıra*/
    --CellColumnCount:calc(var(--MainWidth) / var(--CellLength));    /*Kolon*/
}
